@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


html body {
  width: 100%;
  height: 100%;
  background-image: url(./../../public/background.jpg);
  background-size: auto;
  background-position: top;
  position: relative;
  font-family: 'Roboto', sans-serif;
}


.title-container {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-bottom: 2em;
  margin-top: 3em;
}

#sign-in-header, #sign-up-header {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  margin-top: 1em;
}

#account-icon {
  display: flex;
  justify-content: center;
}

#sign-in-button, #sign-up-buttons {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 1em;
}

#user-message {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  color: white;
  font-style: italic;
  text-align: center;
}

#create-account {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.create-post-button {
float: right;
position: fixed;
bottom: 1em;
right: 1em;
transform: scale(0.9);
}

.sign-in-container, .sign-up-container, .change-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-post-div {
  display: flex;
  justify-content: center;
}

#dreams-display {
  color: white;
  text-align: center;
}

#dreams-index {
  display: flex;
  justify-content: center;
}

.nav {
  // position: fixed;
  // margin-top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $purple;
  align-items: center;
}

#menu-button-nav {
  margin-top: 7px;
  margin-left: 7px;
  margin-bottom: 0px
}

#search-button-nav {
  margin-top: 2px;
  margin-right: 7px;
  margin-bottom: 0px
}

svg {
  color: white;
}

.dreams-posts {
  margin-top: 2em;
}

#sign-out-button {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

#change-password-buttons {
  display: flex;
}

#exit-search-button {
  display: flex;
  margin-top: 2em;
  justify-content: center;
}

#dream-destroy, #dream-get {
  margin-left: 1em;
}
